<div>
  <a href="/">Index</a>
  <% @video.each do |videos| %>
    <a href="/<%= videos[:id] %>"><%= videos[:title] %></a>
  <% end %>
</div>
<div class="">
  <div class="">
    <p>Title</p>
  </div>
  <div class="">
    <p>video</p>
  </div>
  <div class="">
      <p>description</p>
  </div>
</div>
